<h1>About</h1>
<p>This website is a comprehensive collection of Pokemon and their moves. This website uses data from multiple sources including:</p>
<ul>
  <li>Pokemon dataset with details about Pokemon and their attributes.</li>
  <li>Types dataset which includes all possible Pokemon types.</li>
  <li>Moves dataset that describes various moves a Pokemon can have.</li>
</ul>
