<h1>Pokemon</h1>
<h3>Here is a comprehensive list of all Pokemon</h3>

<ul>
    <% @pokemons.each do |pokemon|%>
        <li>
            <strong>Name:</strong> <%= link_to pokemon.name, pokemon_path(pokemon) %>
        </li>
    <% end %>
</ul>